
*{
    margin: 0;
    padding: 0;
}
@import "~bootstrap/scss/bootstrap";

.header{
    color:#65676b ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    font-size: 40px;
    text-align: center;
    box-shadow: 0px .5px #888888;
    font-family: cursive;
    height: 65px;
    img{
        height: 50px;
    }
}
.carousel{
    margin-top:65px ;
    img{
    max-height:600px;
    min-height: 40%;
    width:100%
    }
}
.product{
   
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.editeButton{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;

    button{
        color: #fff;
        width: 50%;
        margin: auto;
        height: 40px;
        background-color: #000;
        border: none;
        
        border-radius: 10px;
        a{
            text-decoration: none;
           
        }
    }
    
}
.update{
margin-top: 65px;
margin-bottom: 200px;
text-align: center;

.inputDiv{
    position: relative;
    width: 70%;
    margin: auto;
input{
   
   width: 100%;
    margin-bottom: 10px;
}
label{
    position: absolute;
    left: 0px;
}

}
.shapeandcolor{
    position: absolute;
    left: 0;
    height: 30px;
   // margin-left: -17px;
}

}
.productDetails{
    margin-top:65px ;
}
.box{
    border: 5px solid rgb(159, 160, 150);
    padding: 20px;

    .row{
        .inputDiv{
            margin-left: 20%;
            margin-top: 50px;
        }
    }
    button{
        color: #fff;
        margin: auto;
        height: 40px;
        background-color: #000;
        border: none;
        padding: 8px;
        border-radius: 5px;
        margin-top: -20px;
       
    
    }
    
    
}
.owl-theme{
    .item{
       
        object-fit: fill;
      max-height: 700px;
      img{
          max-width:100%;
          max-height: 100%;
          object-fit: cover;
          display: block;
      }
    }
    .text{
        margin-top: -120px;
        z-index: 100;
        color: #fff;
        text-align: center;
    }
}